{
    "RootNamespace": "Serene3",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=Serene3_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=Serene3_Northwind_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "SpringPrintingConnection",
            "ConnectionString": "Data Source=TDS-DEMO\\SQL2016; Initial Catalog=SpringPrinting; User ID=sa; Password=barcode",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.tblBanThanhPham",
                    "Identifier": "TblBanThanhPham",
                    "Module": "SpringPrintingConnection",
                    "ConnectionKey": "SpringPrintingConnection",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tblFE_CardInfo",
                    "Identifier": "TblFeCardInfo",
                    "Module": "SpringPrintingConnection",
                    "ConnectionKey": "SpringPrintingConnection",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tblFE_CardStatus",
                    "Identifier": "TblFeCardStatus",
                    "Module": "SpringPrintingConnection",
                    "ConnectionKey": "SpringPrintingConnection",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tblFE_StockOutInfo",
                    "Identifier": "TblFeStockOutInfo",
                    "Module": "SpringPrintingConnection",
                    "ConnectionKey": "SpringPrintingConnection",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tblKhachHang",
                    "Identifier": "TblKhachHang",
                    "Module": "SpringPrintingConnection",
                    "ConnectionKey": "SpringPrintingConnection",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tblNguoiDung",
                    "Identifier": "TblNguoiDung",
                    "Module": "SpringPrintingConnection",
                    "ConnectionKey": "SpringPrintingConnection",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tblRef_Mau",
                    "Identifier": "TblRefMau",
                    "Module": "SpringPrintingConnection",
                    "ConnectionKey": "SpringPrintingConnection",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tblRef_NguoiDaiDien",
                    "Identifier": "TblRefNguoiDaiDien",
                    "Module": "SpringPrintingConnection",
                    "ConnectionKey": "SpringPrintingConnection",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tblRef_Sex",
                    "Identifier": "TblRefSex",
                    "Module": "SpringPrintingConnection",
                    "ConnectionKey": "SpringPrintingConnection",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tblRef_Size",
                    "Identifier": "TblRefSize",
                    "Module": "SpringPrintingConnection",
                    "ConnectionKey": "SpringPrintingConnection",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tblRef_Style",
                    "Identifier": "TblRefStyle",
                    "Module": "SpringPrintingConnection",
                    "ConnectionKey": "SpringPrintingConnection",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.vChiTiet_BTP",
                    "Identifier": "VChiTietBtp_Style_Color",
                    "Module": "SpringPrintingConnection",
                    "ConnectionKey": "SpringPrintingConnection",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.vHopDong_ChiTiet",
                    "Identifier": "VHopDongChiTiet",
                    "Module": "SpringPrintingConnection",
                    "ConnectionKey": "SpringPrintingConnection",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.vHopDong_TrangThai",
                    "Identifier": "VHopDongTrangThai",
                    "Module": "SpringPrintingConnection",
                    "ConnectionKey": "SpringPrintingConnection",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.vLenChuyen_ChiTiet",
                    "Identifier": "VLenChuyenChiTiet",
                    "Module": "SpringPrintingConnection",
                    "ConnectionKey": "SpringPrintingConnection",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.vLoSP_KH",
                    "Identifier": "VLoSpKh",
                    "Module": "SpringPrintingConnection",
                    "ConnectionKey": "SpringPrintingConnection",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.vNhapKho_SP",
                    "Identifier": "VNhapKhoSp",
                    "Module": "SpringPrintingConnection",
                    "ConnectionKey": "SpringPrintingConnection",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.vTrangThai_BoBTP",
                    "Identifier": "VTrangThaiBoBtp",
                    "Module": "SpringPrintingConnection",
                    "ConnectionKey": "SpringPrintingConnection",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tblHopDong",
                    "Identifier": "TblHopDong",
                    "Module": "SpringPrintingConnection",
                    "ConnectionKey": "SpringPrintingConnection",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tblHopDong_ChiTiet",
                    "Identifier": "TblHopDong_ChiTiet",
                    "Module": "SpringPrintingConnection",
                    "ConnectionKey": "SpringPrintingConnection",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tblHopDong_ChiTiet_KK",
                    "Identifier": "TblHopDongChiTietKk",
                    "Module": "SpringPrintingConnection",
                    "ConnectionKey": "SpringPrintingConnection",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tblHopDong_DieuChinh",
                    "Identifier": "TblHopDong_DieuChinh",
                    "Module": "SpringPrintingConnection",
                    "ConnectionKey": "SpringPrintingConnection",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tblBo_BTP",
                    "Identifier": "TblBo_BTP",
                    "Module": "SpringPrintingConnection",
                    "ConnectionKey": "SpringPrintingConnection",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tblLo_SP",
                    "Identifier": "TblLoSp",
                    "Module": "SpringPrintingConnection",
                    "ConnectionKey": "SpringPrintingConnection",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tblLenChuyen",
                    "Identifier": "TblLenChuyen",
                    "Module": "SpringPrintingConnection",
                    "ConnectionKey": "SpringPrintingConnection",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tblLenChuyenIn_ChiTiet",
                    "Identifier": "TblLenChuyenIn_ChiTiet",
                    "Module": "SpringPrintingConnection",
                    "ConnectionKey": "SpringPrintingConnection",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tblXuongChuyen",
                    "Identifier": "TblXuongChuyen",
                    "Module": "SpringPrintingConnection",
                    "ConnectionKey": "SpringPrintingConnection",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tblXuongChuyenIn_ChiTiet",
                    "Identifier": "TblXuongChuyenIn_ChiTiet",
                    "Module": "SpringPrintingConnection",
                    "ConnectionKey": "SpringPrintingConnection",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tbl_XuatKho_ChiTiet",
                    "Identifier": "TblXuatKho_ChiTiet",
                    "Module": "SpringPrintingConnection",
                    "ConnectionKey": "SpringPrintingConnection",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tbl_XuatKho_KH",
                    "Identifier": "TblXuatKhoKh",
                    "Module": "SpringPrintingConnection",
                    "ConnectionKey": "SpringPrintingConnection",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.tblRef_Type",
                    "Identifier": "TblRefType",
                    "Module": "SpringPrintingConnection",
                    "ConnectionKey": "SpringPrintingConnection",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\Serene3\\Serene3.Web\\Serene3.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}