@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.CantinTHP.ZkTblRecord.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Canteen.CantinTHP.ZkTblRecordGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>