@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.SpringPrintingConnection.VChiTietBtp.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Serene3.SpringPrintingConnection.VChiTietBtpGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>