@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.CantinTHP.TbEmpCard.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Canteen.CantinTHP.TbEmpCardGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>