@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.CantinTHP.TbMealCost.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Canteen.CantinTHP.TbMealCostGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>